name: Deploy to AzureVM

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Deploy to AzureVM
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.KEY }}
          script: |
            BASE_DIR="/home/${{ secrets.USERNAME }}/server"
            mkdir -p "$BASE_DIR"
            cd "$BASE_DIR"

            rm -rf core
            git clone --depth=1 https://github.com/BharatSeva/core.git

            cd core
            make init
